.ipynb_checkpoints/
data/
/notebooks/data/
notebooks/.ipynb_checkpoints/
.DS_Store
__pycache__/
/notebooks/episodes/
.env

# Claude Code
CLAUDE.md
.claude/

# Entornos virtuales y archivos de Conda
research-explain/
condaenv.*.requirements.txt
*.sh
