.ipynb_checkpoints/
data/
/notebooks/data/
notebooks/.ipynb_checkpoints/
.DS_Store
__pycache__/
/notebooks/episodes/
episodes/
.env
project/openrouter_runs/

# Entornos virtuales y archivos de Conda
research-explain/
condaenv.*.requirements.txt
*.sh
